html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;    
}

body {
    padding-top: 50px;
}

#geolocator {
    font-size: 12px;
    color:gray;
    width:350px;
    top: 8px;
    right: 8px;
    position: absolute;   
    z-index: 50;
}

#geolocator-button {
    font-size: 12px;
    color:gray;    
    top: 14px;
    right: 13px;
    padding: 2px 8px;
    position: absolute;   
    z-index: 50;
    border: 1px solid #FFF; 
}


.jqx-widget-content {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-style: normal;
}
