html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    margin:0;
    font-family: "Open Sans";
}
#leftPane {
    width:20%;
    margin:0;
    border:none;
}
#map {
    padding:0;
}
.nav {
    padding: 5px 10px;
    background: #4479BA;
    color: #FFF;
    border-radius: 5px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

}
.esriPopup {
    visibility: hidden !important;
}
#header {
    text-align: center;
    height:60px;
    border-bottom: solid 1px #ccc;
}